@font-face {
    font-family: "OpenSans";
    src: url("/src/OpenSans-Regular.ttf") format("truetype");
}


*{
    font-family: "OpenSans", sans-serif;
}

header {
    background: #18529D;
    color: white;
    padding: 1rem;
    text-align: center;
}

main {
    padding: 1rem;
}

.resumen {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 1rem;
    margin-bottom: 2rem;
}

.card {
    background: white;
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.card h3 {
    margin: 0;
    font-size: 0.9rem;
    color: #555;
}

.card span {
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 0.5rem;
    color: #18529D;
}

.graficas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
}

.grafica {
    background: white;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}










.tabla-rockport {
    margin-top: 2rem;
}

.tabla-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 1px solid #ccc;
}

.tabla-grid > div {
    padding: 0.6rem;
    border: 1px solid #ccc;
    text-align: center;
}

.head {
    font-weight: bold;
    background: #f0f0f0;
}

.nivel {
    font-weight: bold;
    color: white;
}

.bajo { background: #e53935; }
.regular { background: #fbc02d; color: #000; }
.bueno { background: #81c784; }
.excelente { background: #43a047; }
.superior { background: #1b5e20; }







.tabla-analisis {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

.tabla-analisis th,
.tabla-analisis td {
    border: 1px solid #ccc;
    padding: 0.6rem;
    text-align: center;
}

.tabla-analisis th {
    background: #18529D;
    color: white;
}
